pkgbase = pond-plymouth-theme
	pkgdesc = Pond Plymouth boot, shutdown, and restart animations
	pkgver = 0.0
	pkgrel = 4
	url = https://github.com/bflycomputer/pond-interface
	install = pond-plymouth.install
	arch = any
	license = BSD-3-Clause
	depends = plymouth
	depends = mkinitcpio
	source = pond-interface-52d8a1e3faea2d26c6573b3b34dfcb388921ff31.tar.gz::https://github.com/bflycomputer/pond-interface/archive/52d8a1e3faea2d26c6573b3b34dfcb388921ff31.tar.gz
	source = pond-plymouth.hook
	source = pond-plymouth-update
	sha256sums = 63d01de580b1a8506a394f225d1b25162ffa0d21bedb62669301c50c86793bb9
	sha256sums = eaf474787de29f9850d0558ae2f1a9c0cb38ae8e1e4906aa31b2eafc93a45b23
	sha256sums = 3b44f34e54b625f33973dab531f310bab09bb3c05a09305203c322da9ff0d714

pkgname = pond-plymouth-theme
