pkgbase = linux-pond
	pkgdesc = Linux kernel with the selected downstream scheduler and performance patch set for Pond.
	pkgver = 7.2.2
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	makedepends = clang
	makedepends = llvm
	makedepends = lld
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.2.2-1/cachyos-7.2.2-1.tar.gz
	source = https://github.com/CachyOS/linux/releases/download/cachyos-7.2.2-1/cachyos-7.2.2-1.tar.gz.asc
	source = config
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.2/misc/dkms-clang.patch
	source = https://download.nvidia.com/XFree86/NVIDIA-kernel-module-source/NVIDIA-kernel-module-source-610.57.04.tar.xz
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.2/misc/nvidia/0002-fix-dsc-correct-RC-parameter-tables-to-match-VESA-DS.patch
	source = https://raw.githubusercontent.com/cachyos/kernel-patches/master/7.2/misc/nvidia/0003-fix-dp-add-Bigscreen-Beyond-VR-headset-to-WAR-databa.patch
	validpgpkeys = E18447AC260021D31F3FF6C4C8A2A4774B8B63C4
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	b2sums = ef0dd68d31a0c51ec09c7025331ed821833965d04bead87151ec03e884ac48d699c098beea177e9a098d74d6f1c929def8052d1973712d60d213708f7c51d4ee
	b2sums = SKIP
	b2sums = 56275d3bf511ee220e49a8a445d55bb4dfdfa8f27e263691ddd7c0de69690725e4abadbdf62c2c82599cf7b2bfb3f09144e3c1e05078cf55b89091f625aea841
	b2sums = c992567bd7dd8553432be496ffa1c17e2f5ebe9c7edb51945cf977e1b742dd6517c210d8843bb82744ca705efd07f8027cd7dde41b50215ebd707a34aa81462e
	b2sums = 59bd5799cb37bdd264a683bb170efd81d3c57381d8ffa5f4cdb0e6c556f61b4485c88b3ec6513cf4e57c975d9ff9c07111463a5b50a213a6178f0530cf40dcd7
	b2sums = f119d6eb87e5ead55845536a7a96732fffa9ab9a537e66994e0fdee303eb64b2cb445277794e4419b2281d2d7eafc40a72be395ce3239ce7316f89e27cb5f88c
	b2sums = 870fcd01ea0b3a2bc11fe43b2333f30add0067e5f77ee820f771f8e95a0b4e9ba2f7d822e5337d0c51f4a34c843f76b2148c853614e68a024393073fff7d99da

pkgname = linux-pond
	pkgdesc = The Linux kernel with the selected downstream scheduler and performance patch set for Pond. kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-pond-headers
	pkgdesc = Headers and scripts for building modules for the Linux kernel with the selected downstream scheduler and performance patch set for Pond. kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	depends = linux-pond
	depends = clang
	depends = llvm
	depends = lld
	provides = LINUX-HEADERS

pkgname = linux-pond-nvidia-open
	pkgdesc = nvidia open modules of 610.57.04 driver for the linux-pond kernel
	license = MIT AND GPL-2.0-only
	depends = linux-pond=7.2.2-1
	depends = nvidia-utils=610.57.04
	depends = libglvnd
	provides = NVIDIA-MODULE
	conflicts = linux-pond-nvidia
