pkgbase = pond-lockscreen
	pkgdesc = Pond session lock and SDDM greeter
	pkgver = 0.0
	pkgrel = 3
	url = https://github.com/bflycomputer/pond-interface
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	depends = coreutils
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = networkmanager-qt
	depends = pond-wallpaper
	depends = qt6-base
	depends = qt6-declarative>=6.11
	depends = qt6-svg
	depends = qt6-wayland
	depends = quickshell>=0.3.1
	depends = systemd
	depends = ttf-onest
	depends = sddm
	depends = niri
	source = pond-interface-af687ce3b45172211bb11df93f10245f4a0b6557.tar.gz::https://github.com/bflycomputer/pond-interface/archive/af687ce3b45172211bb11df93f10245f4a0b6557.tar.gz
	sha256sums = 27d5c90372d7546e54e7d0016ca3ae37630af0f728bfc36bdf9404c6458262b4

pkgname = pond-lockscreen
