pkgbase = pond-lockscreen
	pkgdesc = Pond session lock and SDDM greeter
	pkgver = 0.0
	pkgrel = 1
	url = https://github.com/bflycomputer/pond-interface
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	depends = coreutils
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = networkmanager-qt
	depends = pond-wallpaper
	depends = qt6-base
	depends = qt6-declarative>=6.11
	depends = qt6-svg
	depends = qt6-wayland
	depends = quickshell>=0.3.1
	depends = systemd
	depends = ttf-onest
	depends = sddm
	depends = niri
	source = pond-interface-99b56c396362bea979e53d88df52450216b28f9f.tar.gz::https://github.com/bflycomputer/pond-interface/archive/99b56c396362bea979e53d88df52450216b28f9f.tar.gz
	sha256sums = 6a32d672a1c5e8c1ca73251ad90664e102ad7566069ea918f42a7347f5c562d7

pkgname = pond-lockscreen
