pkgbase = pond-lockscreen
	pkgdesc = Pond session lock and SDDM greeter
	pkgver = 0.0
	pkgrel = 2
	url = https://github.com/bflycomputer/pond-interface
	arch = x86_64
	license = BSD-3-Clause
	makedepends = cmake
	makedepends = ninja
	makedepends = qt6-shadertools
	depends = coreutils
	depends = glibc
	depends = libgcc
	depends = libstdc++
	depends = networkmanager-qt
	depends = pond-wallpaper
	depends = qt6-base
	depends = qt6-declarative>=6.11
	depends = qt6-svg
	depends = qt6-wayland
	depends = quickshell>=0.3.1
	depends = systemd
	depends = ttf-onest
	depends = sddm
	depends = niri
	source = pond-interface-a06beedcc396ec96f2c53a1414274a4fc75b81fa.tar.gz::https://github.com/bflycomputer/pond-interface/archive/a06beedcc396ec96f2c53a1414274a4fc75b81fa.tar.gz
	sha256sums = 61162a5d2c0c5d7540f93afbe68cde5c9c4cace57d76b59fd736d86cb8a84240

pkgname = pond-lockscreen
