pkgbase = pond-wallpaper
	pkgdesc = Wallpaper manager for Pond
	pkgver = 0.0
	pkgrel = 3
	url = https://github.com/bflycomputer/pond-interface
	arch = any
	license = BSD-3-Clause
	makedepends = qt6-shadertools
	depends = qt6-declarative
	depends = qt6-wayland
	depends = quickshell
	source = pond-interface-c782df654dcfa69463f61afddff478042ed4f310.tar.gz::https://github.com/bflycomputer/pond-interface/archive/c782df654dcfa69463f61afddff478042ed4f310.tar.gz
	sha256sums = e6c8d8a4c41264a73aa6319cdd61027d7918d7a5baeb485fd0af92793848e0e4

pkgname = pond-wallpaper
