pkgbase = pond-wallpaper
	pkgdesc = Wallpaper manager for Pond
	pkgver = 0.1.1
	pkgrel = 1
	url = https://github.com/bflycomputer/pond-interface
	arch = any
	license = BSD-3-Clause
	makedepends = qt6-shadertools
	depends = qt6-declarative
	depends = qt6-wayland
	depends = quickshell
	source = pond-interface-3df68ac7d283b887c8fd82cd6778a6e9339f340b.tar.gz::https://github.com/bflycomputer/pond-interface/archive/3df68ac7d283b887c8fd82cd6778a6e9339f340b.tar.gz
	sha256sums = 8ec59d796e3098996756a59a985c2c93f9459f903da98965eb62cc9ba420e24a

pkgname = pond-wallpaper
