pkgbase = grub-btrfs-support
	pkgdesc = Support package for enabling grub-btrfs support
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/amarsbar/pond-pkgbuilds
	install = grub-btrfs-support.install
	arch = any
	license = GPL-3.0-or-later
	depends = pond-snapper-support
	depends = grub-btrfs
	source = grub-btrfs-snapper.path
	source = grub-btrfs-snapper.service
	sha256sums = 2df923558cda373f7c36daa86b458d2bf0918a70bdd4c3d14d7505e7f9193d91
	sha256sums = ab8131cdb777e8f8c1cbf49b14c2c452788529c666e9f9aa523a52fcc576d1e0

pkgname = grub-btrfs-support
