pkgbase = pond-pm-extension
	pkgdesc = Launcher extension for installing packages on Pond
	pkgver = 0.0
	pkgrel = 1
	url = https://github.com/amarsbar/package-manager
	arch = x86_64
	arch = aarch64
	license = BSD-3-Clause
	makedepends = cargo
	makedepends = git
	makedepends = pkgconf
	makedepends = nodejs
	makedepends = npm
	depends = pond-launcher
	depends = flatpak
	depends = glib2
	depends = glibc
	depends = gcc-libs
	depends = paru
	depends = polkit
	source = package-manager::git+https://github.com/amarsbar/package-manager.git#branch=main
	sha256sums = SKIP

pkgname = pond-pm-extension
