pkgbase = pond-shell
	pkgdesc = Pond desktop shell for niri
	pkgver = 0.0
	pkgrel = 4
	url = https://github.com/bflycomputer/pond-interface
	arch = any
	license = BSD-3-Clause
	depends = bluez
	depends = brightnessctl
	depends = capitaine-cursors
	depends = ddcutil
	depends = fastfetch
	depends = gdk-pixbuf2
	depends = iw
	depends = networkmanager
	depends = niri
	depends = pipewire
	depends = pond-lockscreen
	depends = pond-screenshot
	depends = pond-wallpaper
	depends = python
	depends = python-gobject
	depends = qt6-declarative>=6.11
	depends = qt6-svg
	depends = qt6-wayland
	depends = quickshell>=0.3.1
	depends = systemd
	depends = ttf-advent-pro
	depends = ttf-ibm-plex
	depends = ttf-onest
	depends = upower
	depends = zenity
	source = pond-interface-fed978094eca3a713150b2063383b41af7daf0e4.tar.gz::https://github.com/bflycomputer/pond-interface/archive/fed978094eca3a713150b2063383b41af7daf0e4.tar.gz
	sha256sums = a42770fea8165baea311dbfb056fa90a1a453055b544019983c5edfb67da019f

pkgname = pond-shell
