pkgbase = pond-shell
	pkgdesc = Pond desktop shell for niri
	pkgver = 0.1.5
	pkgrel = 1
	url = https://github.com/bflycomputer/pond-interface
	install = pond-shell.install
	arch = any
	license = BSD-3-Clause
	depends = bluez
	depends = brightnessctl
	depends = capitaine-cursors
	depends = ddcutil
	depends = fastfetch
	depends = gdk-pixbuf2
	depends = gsettings-desktop-schemas
	depends = imagemagick
	depends = iw
	depends = networkmanager
	depends = niri
	depends = pipewire
	depends = pond-lockscreen
	depends = pond-screenshot
	depends = pond-wallpaper
	depends = power-profiles-daemon
	depends = python
	depends = python-gobject
	depends = python-pyqt6
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-wayland
	depends = quickshell
	depends = systemd
	depends = ttf-advent-pro
	depends = ttf-ibm-plex
	depends = ttf-jetbrains-mono
	depends = ttf-onest
	depends = upower
	depends = zenity
	backup = etc/xdg/kitty/kitty.conf
	backup = etc/xdg/fastfetch/config.jsonc
	backup = etc/xdg/gtk-3.0/settings.ini
	backup = etc/xdg/gtk-4.0/settings.ini
	source = pond-interface-3df68ac7d283b887c8fd82cd6778a6e9339f340b.tar.gz::https://github.com/bflycomputer/pond-interface/archive/3df68ac7d283b887c8fd82cd6778a6e9339f340b.tar.gz
	sha256sums = 8ec59d796e3098996756a59a985c2c93f9459f903da98965eb62cc9ba420e24a

pkgname = pond-shell
