pkgbase = pond-shell
	pkgdesc = Pond desktop shell for niri
	pkgver = 0.1.2
	pkgrel = 1
	url = https://github.com/bflycomputer/pond-interface
	arch = any
	license = BSD-3-Clause
	depends = bluez
	depends = brightnessctl
	depends = capitaine-cursors
	depends = ddcutil
	depends = fastfetch
	depends = gdk-pixbuf2
	depends = gsettings-desktop-schemas
	depends = imagemagick
	depends = iw
	depends = networkmanager
	depends = niri
	depends = pipewire
	depends = pond-lockscreen
	depends = pond-screenshot
	depends = pond-wallpaper
	depends = python
	depends = python-gobject
	depends = qt6-declarative
	depends = qt6-svg
	depends = qt6-wayland
	depends = quickshell
	depends = systemd
	depends = ttf-advent-pro
	depends = ttf-ibm-plex
	depends = ttf-onest
	depends = upower
	depends = zenity
	backup = etc/xdg/kitty/kitty.conf
	backup = etc/xdg/fastfetch/config.jsonc
	backup = etc/xdg/gtk-3.0/settings.ini
	backup = etc/xdg/gtk-4.0/settings.ini
	source = pond-interface-ca80993aad9ef9ac4f572669b7ea29cf26fe0e1d.tar.gz::https://github.com/bflycomputer/pond-interface/archive/ca80993aad9ef9ac4f572669b7ea29cf26fe0e1d.tar.gz
	sha256sums = 294fe181cd2117a2bcdecfd7b7ac3abda601cdc1289dfcec802b834574423d9b

pkgname = pond-shell
