pkgbase = pond-grub-config
	pkgdesc = Pond GRUB configuration, theme and menu integration
	pkgver = 0.1
	pkgrel = 3
	url = https://github.com/bflycomputer/pond-interface
	arch = any
	license = BSD-3-Clause
	license = OFL-1.1
	depends = grub
	depends = os-prober
	source = pond-interface-7458b25461b7aa38a3b9e410a0f71afe1571f8fb.tar.gz::https://github.com/bflycomputer/pond-interface/archive/7458b25461b7aa38a3b9e410a0f71afe1571f8fb.tar.gz
	source = pond-grub.hook
	source = pond-grub-update
	sha256sums = bd65619e40b631548b717fb931ba8d68ced5eafae6211ef278612ad1079d2e07
	sha256sums = 4bc2609cd458a46d99f2c17f41dbcc9261d5d948de1363d0196e64a3fc20a377
	sha256sums = 96a677eeac179484c1c0c6611d4c2ef1dd728078893bc84c792b8653f69883fe

pkgname = pond-grub-config
