pkgbase = linux-pond-lts
	pkgdesc = Long-term-support Linux kernel with the selected downstream patch set for Pond.
	pkgver = 6.18.48
	pkgrel = 1
	url = https://github.com/CachyOS/linux-cachyos
	arch = x86_64
	license = GPL-2.0-only
	makedepends = bc
	makedepends = binutils
	makedepends = cpio
	makedepends = gettext
	makedepends = glibc
	makedepends = libelf
	makedepends = libgcc
	makedepends = openssl
	makedepends = pahole
	makedepends = perl
	makedepends = python
	makedepends = rust
	makedepends = rust-bindgen
	makedepends = rust-src
	makedepends = tar
	makedepends = xxhash
	makedepends = xz
	makedepends = zlib
	makedepends = zstd
	options = !strip
	options = !debug
	options = !lto
	source = https://github.com/CachyOS/linux/releases/download/cachyos-6.18.48-2/cachyos-6.18.48-2.tar.gz
	source = https://github.com/CachyOS/linux/releases/download/cachyos-6.18.48-2/cachyos-6.18.48-2.tar.gz.asc
	source = config
	source = https://download.nvidia.com/XFree86/NVIDIA-kernel-module-source/NVIDIA-kernel-module-source-610.57.04.tar.xz
	validpgpkeys = E18447AC260021D31F3FF6C4C8A2A4774B8B63C4
	validpgpkeys = E8B9AA39F054E30E8290D492C3C4820857F654FE
	b2sums = d2154c224eb68d5e105b11bb863d54d23c3727f64010ab0c566953aef8440b99c94fac30800758847a93898d507ab1d3176b7934c7537943f5be8b86a5d95a1e
	b2sums = SKIP
	b2sums = cf63888248b614c85a19c39e49770c65597cee62c43626913490a818abd3ab4e6569dca2066e359db1da3af40a87efadd174655f4e8a77ba51e178a2247f1183
	b2sums = 59bd5799cb37bdd264a683bb170efd81d3c57381d8ffa5f4cdb0e6c556f61b4485c88b3ec6513cf4e57c975d9ff9c07111463a5b50a213a6178f0530cf40dcd7

pkgname = linux-pond-lts
	pkgdesc = The Long-term-support Linux kernel with the selected downstream patch set for Pond. kernel and modules
	depends = coreutils
	depends = kmod
	depends = initramfs
	optdepends = wireless-regdb: to set the correct wireless channels of your country
	optdepends = linux-firmware: firmware images needed for some devices
	optdepends = modprobed-db: Keeps track of EVERY kernel module that has ever been probed - useful for those of us who make localmodconfig
	optdepends = scx-scheds: to use sched-ext schedulers
	provides = VIRTUALBOX-GUEST-MODULES
	provides = WIREGUARD-MODULE
	provides = KSMBD-MODULE
	provides = V4L2LOOPBACK-MODULE
	provides = NTSYNC-MODULE
	provides = VHBA-MODULE
	provides = ADIOS-MODULE

pkgname = linux-pond-lts-headers
	pkgdesc = Headers and scripts for building modules for the Long-term-support Linux kernel with the selected downstream patch set for Pond. kernel
	depends = binutils
	depends = glibc
	depends = libelf
	depends = libgcc
	depends = openssl
	depends = pahole
	depends = xxhash
	depends = zlib
	depends = zstd
	depends = linux-pond-lts
	provides = LINUX-HEADERS

pkgname = linux-pond-lts-nvidia-open
	pkgdesc = nvidia open modules of 610.57.04 driver for the linux-pond-lts kernel
	license = MIT AND GPL-2.0-only
	depends = linux-pond-lts=6.18.48-1
	depends = nvidia-utils=610.57.04
	depends = libglvnd
	provides = NVIDIA-MODULE
	conflicts = linux-pond-lts-nvidia
